body {
  font-family: "open sans", sans-serif;
  font-weight: 600;
  line-height: 1.7;
}

.h2 {
  text-align: center;

  &--1 {
    color: $color-white;
    font-weight: 400;
    font-size: 3rem;
  }

  &--2 {
    color: $color-black;
    font-weight: 400;
    font-size: 3rem;
  }
}

.h3 {
  font-size: 1.6rem;
}

.p {
  font-size: 1.4rem;

  &--1 {
    font-weight: 400;
  }
  &--2 {
    font-weight: 200;
  }
}

span {
  color: $color-secondary;
}
