// Colors
$color-white: #fff;
$color-black: #000;
$color-grey: #7e7e7e;
$color-dark-grey: #333333;
$color-light-grey: #ccc;

$color-primary: #468be8;
$color-primary-dark: #4263c1;

$color-secondary: #ef6614;
$color-secondary-dark: #da5200;

// Font
$default-font-size: 1.6rem;

// Others
$border-radius: 3px;

$vw: 80vw;
$vw-big: 95vw;
