.cab-screen {
  background: #eee;
  display: flex;
  justify-content: center;
  padding: 30px;

  .cab-grid {
    width: $vw;
    display: flex;
    justify-content: center;
    gap: 30px;

    @media only screen and (max-width: 75em) {
      //1200px
      width: $vw-big;
    }
  }

  .ride-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid $color-light-grey;
    padding: 10px 20px;
    background: $color-white;
    box-shadow: 0 2px 4px 0 #c8c8c8;
    flex: 1;
    border-radius: $border-radius;
  }

  .cab-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 3;
    .banner {
      border-radius: $border-radius;
      background: #fffee8;
      border: 1px solid $color-light-grey;
      box-shadow: 0 2px 4px 0 #c8c8c8;
      display: flex;
      padding: 20px;
      gap: 20px;

      &__info {
        display: flex;
        gap: 20px;
        align-items: center;
        flex: 1;
      }

      &__img {
        flex: 0.1;
        background: chartreuse;
        padding: 10px 10px;
        border-radius: 50rem;
        display: flex;
        align-items: center;

        img {
          width: 100%;
        }
      }

      &__text {
        flex: 1;
      }
    }

    .cab-card {
      display: flex;
      gap: 20px;
      padding: 20px;
      background: $color-white;
      border-radius: $border-radius;
      align-items: center;
      border: 1px solid $color-light-grey;
      box-shadow: 0 2px 4px 0 #c8c8c8;

      &__details {
        flex: 3;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .service {
          display: flex;
          gap: 20px;

          svg {
            transform: scale(2);
          }
        }

        .tags {
          display: flex;
          gap: 10px;

          &__safety {
            background: #e5f8fa;
            border: 1px solid #00dd80;
            color: #277e87;
            border-radius: $border-radius;
            padding: 5px 10px;
          }

          &__payment {
            background: #ebf7ff;
            border: 1px solid #0891d6;
            color: #0891d6;
            border-radius: $border-radius;
            padding: 5px 10px;
          }
        }

        .checkmarks {
          display: flex;
          gap: 20px;

          .p {
            display: flex;
            gap: 5px;
            align-items: center;
          }

          svg {
            color: #0891d6;
            transform: scale(1.1);
          }
        }
      }

      &__price {
        flex: 1.5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        text-align: center;
      }
    }
  }
}
